*{
  margin:0;
  padding:0;
}
/* .main h1{
  font-size: 250px ;
  color: white;
  position: absolute;
  margin-top: 280px;
  margin-left: 170px;
} */

.navbar {
  margin-top: 30px;
  position:absolute;
  width:100%;   
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  /* box-shadow: 1px 1px 5px grey; */
}

/* .green .active a,
.green .active a:hover {
    background-color: rgb(7, 71, 7);
} */
#myDiv > .dropdown-menu {
  background-color: rgba(0,0,0,.2) !important;
}
#myDiv > .dropdown-menu .dropdown-item{
  color:white;
}
#myDiv > .dropdown-menu .dropdown-item:hover{
  color: black;
}

/* #mydiv > .explore {
  background:rgba(0,0,0,.2) !important ;
} */

.about-border {
  display: block;
  width: 100px;
  height: 3px;
  background: rgb(11, 129, 11);
  margin: 10px auto;
}
.content{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
.content-sub{
  padding-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(7, 71, 7);
} 
.content-font{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  padding-bottom: 0px;
}
.content-more{
  font-size: 19px;
  color:#7c69ef);
} 
.content-more:hover{
  color: rgb(7, 71, 7);
}
.content-explore{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 42%;
  
  color: rgb(7, 71, 7);
  height: 50px;
  width: 200px;
  border: 2px solid rgb(7, 71, 7);
  word-spacing: 2px;
}
.content-explore:hover{
  background-color: rgb(7, 71, 7) ;
  color: white;
}
.content-experience:hover{
  opacity: .5;
}
.text-block {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width:91.5%;
  position: absolute;
  bottom: 1px;
  background-color: rgba(0, 0, 0,0.2);
  color: white;
}
.footer{
 background-image: url(~/KeralaTourism/IMAGES/Posadigumpe_Hill_Station-hill.jpeg);
 background-size: cover;
}

/*Modal*/
.modal-title {
  font-weight: bold;
  color: #fff;
}
.modal-footer a{
  color: white;
}
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  background: linear-gradient(to bottom right,rgba(1,1,1,1), rgba(1,1,1,0));
}
.form-control {
  margin: 1em 0;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.username, .password, #firstname, #lastname, #email, #searchSite{
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}

.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid white ;
  color: white ;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: rgb(7, 71, 7) ;
  color: #fff;
}
/* trigger */

/* signup modal */
{
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent
}
